body {
	font: 12x arial;
	overflow-y: scroll;
	height: 100%;
	min-height: 600px;
	min-width: 810px;
	position: relative;
	margin: 0;
}

header {
	overflow: hidden;
}

header nav {
	width: 350px;
	padding-top: 3px;
	float: right;
}

header nav a {
	margin-left: 20px;
}

.content {
	text-align: center;
	padding-top: 120px;
}

.content input {
	width: 450px;
	height: 34px;
}

.content button {
	width: 100px;
	height: 40px;
	background-color: #11A0FF;
	border: 0;
	color: white;
}